
table, th, td  {
    width: 150px;
    background-color: aqua ;
    border: 1px solid black;
    border-collapse: collapse;
    color: brown;
    text-shadow: 1p1p3c;
}

th, td{
    padding: 10px;
}

th {
    text-align: left;
}
